extends layout

include _includes/sharedHTMLfunctions

block content 
  .row.page-header: .col-lg-12
      h1= pageHeader.title
  .row 
    .col-xs-12.col-md-9
      .row 
        .col-xs-12.col-sm-6
          p.rating 
            +outputRating(talk.rating)
          p= talk.address
          .panel.panel-primary
            .panel-heading
              h2.panel-title Opening hours
            .panel-body
              each time in talk.openingTimes
                p
                  | #{time.days} : 
                  if time.closed
                    | closed
                  else
                    | #{time.opening} - #{time.closing}
          .panel.panel-primary
            .panel-heading
              h2.panel-title Facilities
            .panel-body
              each facility in talk.facilities
                span.label.label-warning
                  span.glyphicon.glyphicon-ok
                  | &nbsp;#{facility}
                | &nbsp;
        .col-xs-12.col-sm-6.talk-map
          .panel.panel-primary
            .panel-heading
              h2.panel-title Talk map
            .panel-body
              img.img-responsive.img-rounded(src="http://maps.googleapis.com/maps/api/staticmap?center=#{talk.coords.lat},#{talk.coords.lng}&zoom=17&size=400x350&sensor=false&markers=#{talk.coords.lat},#{talk.coords.lng}&scale=2")
      .row
        .col-xs-12
          .panel.panel-primary.review-panel
            .panel-heading
              a.btn.btn-default.pull-right(href="/talk/#{talk._id}/comment/new") Add Comment
              h2.panel-title Participant comments
            .panel-body.review-container
              each comment in talk.comments
                .row
                  .review
                    .well.well-sm.review-header
                      span.rating
                        +outputRating(comment.rating)
                      span.reviewAuthor #{comment.author}
                      small.reviewTimestamp
                        +formatDate(comment.createdOn)
                    .col-xs-12
                      p !{(comment.commentText).replace(/\n/g, '<br/>')}
    .col-xs-12.col-md-3
      p.lead #{talk.name} #{sidebar.context}
      p= sidebar.callToAction