extends layout

include _includes/sharedHTMLfunctions

block content
  #banner.page-header
    .row
      .col-lg-8
        h1 Event Me
          small &nbsp;#{pageHeader.strapline}
  .row
    .col-xs-12.col-sm-8
      .error= message
      .row.list-group
        each talk in talks
          .col-xs-12.list-group-item
            h4 
              a(href="/talk/#{talk._id}")= talk.name
              small &nbsp;
                +outputRating(talk.rating)
              span.badge.pull-right.badge-default= talk.distance
            p.address= talk.address
            p
              each facility in talk.facilities
                span.label.label-warning= facility
                | &nbsp;
    .col-xs-12.col-sm-4 
      p.lead= sidebar